<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Custom styling -->
        <link href="/static/styles.css" rel="stylesheet">
        <script type="text/javascript" src="/static/script.js"></script>
        <title>View Counter</title>
    </head>
    <body>
        <main>
            <div class="grid-item">
                <h1>Views</h1>
                <h2 id='sessions'>1</h2>
            </div>
        </main>
    </body>
</html>
